<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472814168339-h76dto0j5cfr0jm1vat57b7us6jcn071.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472814168339-h76dto0j5cfr0jm1vat57b7us6jcn071</string>
	<key>API_KEY</key>
	<string>AIzaSyDqWvKtVcYcbtVPYgoYxgPxqzeguWArdzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>472814168339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentWandoorKayla</string>
	<key>PROJECT_ID</key>
	<string>assignmentwandoor</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentwandoor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472814168339:ios:ea42c0a2ee5154011d92e6</string>
</dict>
</plist>